{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 1",
            "ie >= 6"
          ]
        }
      }
    ]
  ]
}